*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

#button {
    background-color: darkblue;
    cursor: pointer;
    border-radius: 15px;
    color: white;
    width: 90px;
    height: 30px;
    font-size: 15px;
    transition: hover 0.4s ease;
}

#button:hover {
    background-color: palevioletred;
}

#menu {
    display: none;
    position: absolute;
   background-color: navy;
}

#continue {
    background-color: white;
    color: black;
    cursor: pointer;
}

#restart {
    background-color: darkblue;
    cursor: pointer;
    border-radius: 15px;
    color: white;
    width: 90px;
    height: 30px;
    font-size: 15px;
    transition: hover 0.4s ease;
}

#restart:hover {
    background-color: palevioletred;
}

main {
    display: flex;
    flex-direction: column;
}

#board{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.col{
    margin-right: 10px;
}

.cell{
    display: block;
    width: 70px;
    height: 70px;
    border: 1px solid black;
    margin-bottom: 15px;
}

.player1Cell{
    background-color: #f00;
}

.player2Cell{
    background-color: #00f;
}